{% if front_matter["needs_cleanup"] %}
	<div class="wiki-notice">
		This page does not meet the standards of the osu! wiki and needs to be
		cleaned up or rewritten. If you are able to help out, please consider
		updating the article!
	</div>
{% endif %}
{% if front_matter["outdated_translation"] %}
	<div class="wiki-notice">
		This page contains an outdated translation of the original content. Please
		check the
		<a href="/wiki/en/Main_page">English version</a> for the most accurate
		information (and consider updating the translation if you are able to help
		out)!
	</div>
{% endif %}
{% if front_matter["outdated"] %}
	<div class="wiki-notice">
		The content on this page is incomplete or outdated. If you are able to help
		out, please consider updating the article!
	</div>
{% endif %}
{% if front_matter["stub"] %}
	<div class="wiki-notice">
		This article is incomplete and waiting on someone to expand it.
	</div>
{% endif %}
